@model IEnumerable<MyClass.Models.Post>
@using Thoi_Trang.Library;
@{
    ViewBag.Title = "Tất cả bài viết ";
    Layout = "~/Views/Share/_LayoutHome.cshtml";
}
<section class="main_content clearfix ">
    <div class="content my-3">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="category-title position-relative">
                    <h2 class="text-center">TẤT CẢ BÀI VIẾT</h2>
                </div>
                @foreach (var post in Model)
                {
                    <div class="row ">
                        <div class="col-my-3">
                            <a href="~/@post.Slug"><img src="~/Public/image/posts/@post.Img" /></a>
                        </div>
                        <div class="col-md-9">
                            <a href="~/@post.Slug"><h3>@post.Title</h3></a>
                            <p>@XString.Str_limit(post.Detail, 20)</p>
                            <div class="text right"><a href="~/@post.Slug">Xem Thêm</a></div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>


