
@model MyClass.Models.Post

@{
    ViewBag.Title ="add";
    Layout = "~/Views/Share/_LayoutHome.cshtml";
}

<section class="main_content clearfix">
    <div class="content my-3">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <h1 class="title">Model.Title</h1>
                <p>Model.Detail</p>
            </div>
        </div>
    </div>
</section>

