

<div class="main_slider" style="background-image:url(/Public/plugins_wed_font/images/slider_1.jpg)">
    <div class="container fill_height">
        <div class="row align-items-center fill_height">
            <div class="col">
                <div class="main_slider_content">
                    <h6>Trang Phục Mùa Hè </h6>
                    <h1>giảm 20% cho 10 đơn hàng đầu tiên</h1>
                    <div class="red_button shop_now_button"><a href="https://localhost:44305">shop now</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
