
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content my-2">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger text-uppercase">
                            Tieu de
                        </strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="#" class="btn btn-sm btn-success ">NUT</a>
                        LINK
                    </div>
                </div>

            </div>
            <div class="card-body">
                Noi dung
            </div>
            <!-- /.card-body -->
            
            <!-- /.card-footer-->
        </div>
    </section>
</div>
<!-- /.card -->
<!-- /.content-wrapper -->
